@import "tailwindcss";

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-display: swap;
}

@theme {
 --font-family-primary: "Montserrat", ui-sans-serif, system-ui, sans-serif;
}

:root{
  background-color: #000000;
}



